<title>
  <%= title %>
</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<script href="/javascripts/script.js"></script>
<script>
  // function confirmaton() {
  //     var confirmDelete = confirm("Do you want to Delete this contact ?");
  //     if (confirmDelete) {
  //       console.log("User wants to delete this contact!");
  //       return true;
  //     }
  //     else {
  //       console.log("User does not want to delete this contact!");
  //       return false;
  //     }
  //   }
    </script>