<!DOCTYPE html>
<html>

<head>
  <% include ./partials/head %>

</head>

<body class="centered-wrapper">
  <div class="centered-content">
    <header>
      <% include ./partials/header %>
    </header>

    <h1>
      <%= title %>
    </h1>
    <ul>
      <% contacts.forEach(function(contact){ %>
        <li>
          <a href='contacts/<%= contact.id %>' style="color:#002653">
            <%= contact.name %>
          </a>
          <a class="delete" onclick='confirm()' href='' style="color:#D0011B"> X </a>
        </li>
        <% }) %>
    </ul>
  </div>
</body>

</html>